.bg-blue {
    background: #0D2D84 !important;
    border-bottom: 8px solid #FF9110;
}

.margin-maps {
    margin-top: -120px;
}

.layer-top {
    z-index: 4
}

.search-box-bg {
    z-index: 2;
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.04245448179271705) 100%);
}

.search-box {
    top: 14px;
    left: 162px;
    border-radius: 2.5rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.18);
}

input.bg-transparent.border-0.px-md-3.py-md-2 {
    width: 258px;
}

.pac-container {
    z-index: 3;
    width: 220px !important;
}

.pac-item {
    padding-top: .9rem !important;
}

.pac-logo:after {
    display: none;
}

.slideUp {
    position: relative;
    bottom: 15%;
}