<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <nav class="navbar navbar-light bg-blue">
          <a class="navbar-brand text-white font-weight-bold" href="#">TERRALOGIQ</a>
        </nav>
        <div class="d-flex justify-content-center">
          <div class="search-box-bg">
            <label class="position-relative layer-top bg-white border search-box">
              <gmap-autocomplete
                @place_changed="setPlace"
                placeholder="Cari Lokasi..."
                class="bg-transparent border-0 px-md-2 py-md-2"
              ></gmap-autocomplete>
              <a @click="addMarker" class="btn">
                <i class="fas fa-search"></i>
              </a>
            </label>
          </div>
        </div>
        <gmap-map
          :center="center"
          :zoom="12"
          style="width:100%;  height: 800px;"
          :class="['margin-maps']"
          :options="{
            mapTypeControl: false,
            streetViewControl: false,
            fullscreenControl: false,
            disableDefaultUi: false,
            scaleControl:true
          }"
        >
          <GmapMarker
            :key="index"
            v-for="(m, index) in markers"
            :position="m.position"
            :clickable="true"
            :draggable="true"
            @click="center=m.position"
            :icon="m.icon"
          />
        </gmap-map>
        <div class="slideUp px-md-2" v-show="getTujuan === true">
          <img src="@/assets/arrow-up.png" alt class="img-fluid mx-auto d-block" />
          <div class="card px-md-3 py-md-3">
            <div class="row">
              <div class="col-md-10">
                <h4>{{details.tujuan}}</h4>
                <p>{{details.alamat}}</p>
              </div>
              <div class="col-md-2">
                <img :src="details.directions_img" class="img-fluid" />
              </div>
              <div v-for="photo in details.photos" :key="photo.id">
                <img
                  :src="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=326&maxheight=169&photoreference='+photo+'&key=AIzaSyDy68pIgOYmyj20gBPD_35_kTwlRycNw78'"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GoogleMap",
  data() {
    return {
      currentLoc: false,
      center: { lat: 45.508, lng: -73.587 },
      currentPlace: null,
      markers: [],
      places: [],
      getTujuan:false,
      isActive: true,
      details: {
        tujuan: "",
        alamat: "",
        directions_img: "",
        photos: []
      }
    };
  },

  mounted() {
    this.geolocate();
  },

  methods: {
    setPlace(place) {
      this.currentPlace = place;
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.markers.push({
          position: marker,
          icon: require("@/assets/marker2.png")
        });
        this.places.push(this.currentPlace);

        this.details.tujuan = this.currentPlace.name;
        this.details.alamat = this.currentPlace.formatted_address;
        this.details.directions_img = require("@/assets/directions.png");

        this.$http
          .get(
            "https://maps.googleapis.com/maps/api/place/details/json?place_id=" +
              this.currentPlace.place_id +
              "&key=AIzaSyDy68pIgOYmyj20gBPD_35_kTwlRycNw78"
          )
          .then(res => {
            let photoLength = res.data.result.photos.length;
            for (var i = 0; i < photoLength; i++) {
              this.details.photos.push(
                res.data.result.photos[i].photo_reference
              );
            }
          });
        this.getTujuan = true
        this.center = marker;
        this.currentPlace = null;
      }
    },
    geolocate: function() {
      this.currentLoc = true;
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        this.markers.push({
          position: this.center,
          icon: require("@/assets/marker.png")
        });
      });
    }
  }
};
</script>
<style src="./maps.css"></style>