<template>
  <div id="app">
    <Maps></Maps>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import Maps from "@/components/maps.vue";

export default {
  name: "app",
  components: {
    Maps
  }
};
</script>

